body
{
  margin: 0px;
  padding: 0px;
}

.avatar-input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0px;
     background-color: #f39a48;
    color: white;
}
/*.modal-body
{
  background-color: #d62f40;
  color:white;
}*/

footer
{
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  color: white;
  text-align: center;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
footer span
{
  font-weight:bolder;
}

.background
{
  min-height: 100vh;
  width: 100%;
  height: auto;
  background: url("../img/pattern.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.avatar-view {
  margin: 0 auto;
  transform: translateY(50%);
  display: block;
  height: 300px;
  width: 300px;
  border: 3px solid #fff;
  /*border-radius: 10px;*/
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}


.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 0.67em;
    margin-top:180px;
    border: 2px solid #008CBA;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #008CBA;
    background: transparent;
    font-family: 'raleway', sans-serif;
    background-color: white;
}

.buttonDownload span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.modal-header
{
  color:white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #43a055;
  text-align: left;
}




.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

